<!-- Include a stylesheet for the header -->
<link rel="stylesheet" href="/css/header.css">

<!-- Start of the header section -->
<header>
    <!-- Logo section with a link to the home page -->
    <div id="logo">
        <a href="/"><h1>CAREER CAMP</h1></a>
    </div>

    <!-- Navigation menu with a list of links -->
    <ul>
        <!-- Dashboard link -->
        <li><a href="/"> <i class="fa-solid fa-house"></i> Dashboard</a></li>
        
        <!-- Student link -->
        <li><a href="/students"> <i class="fa-solid fa-plus"></i> Student</a></li>
        
        <!-- Interview link -->
        <li><a href="/interviews"> <i class="fa-solid fa-plus"></i> Interview</a></li>
        
        <!-- Download Report link -->
        <li><a href="/csv/export"><i class="fa-solid fa-download"></i> Download Report </a></li>
        
        <!-- Jobs link -->
        <li><a href="/jobs">Jobs</a></li>
    </ul>
    
    <!-- Sign Out link with a logout icon -->
    <li><a href="/users/sign-out"> Sign Out <i class="fa-solid fa-arrow-right-from-bracket"></i> </a></li>
</header>
