<!-- Include an external CSS stylesheet -->
<link rel="stylesheet" href="/css/jobs.css">

<!-- Create a container with an ID 'jobs' and data attribute 'data-jobs' to hold job data -->
<div id="jobs" data-jobs="<%= jobs %>"></div>

<!-- JavaScript code to style the fifth list item -->
<script>
    // Access the fifth list item (index 4) and add a yellow bottom border
    li[4].style.borderBottom = "2px solid yellow";
</script>

<!-- Include an external JavaScript file -->
<script src="/js/jobs.js"></script>
