/* Style for a container element */
#container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 70vh; 
}

/*Style for form elements */
form {
    width: 50%;
}

/*Style for input elements within table cells */
td input {
    width: 70%; 
}

/* Style for the submit button */
#submit {
    width: 150px; 
    margin-left: 50%; 
    transform: translate(-50%); 
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 5px; 
}
